body 
{
    font-family:'Times New Roman', cursive;
    background: #f7ad9e;
}
.header_div
{
    background: #ffad7d;
    color:chocolate;
}
.header_div h3
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer
{
    position: fixed;
    color:maroon;
    bottom: 0px;
    width: 100%;
    font-size: 18px;
    background-color: salmon;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
}